[submodule "bulk_enumerator"]
	path = bulk_enumerator
	url = https://github.awsinternal.tri.global/materials/bulk_enumerator
[submodule "protosearch"]
	path = protosearch
	url = https://github.awsinternal.tri.global/materials/protosearch
