[submodule "bulk_enumerator"]
	path = bulk_enumerator
	url = https://github.com/ToyotaResearchInstitute/bulk_enumerator.git
[submodule "protosearch"]
	path = protosearch
	url = https://github.com/ToyotaResearchInstitute/protosearch.git
