language: python
services:
  - docker
python:
  - '3.7'
install:
  - pip install coveralls
  - docker build -t $DOCKER_TAG .
script:
  - set -e
  - >
    docker run -it
    -e CAMD_S3_BUCKET=$CAMD_S3_BUCKET
    -e AWS_ACCESS_KEY_ID=$AWS_ACCESS_KEY_ID
    -e AWS_SECRET_ACCESS_KEY=$AWS_SECRET_ACCESS_KEY
    -v ${PWD}/artifacts:/artifacts
    camd-public bash -c 'pytest --show-capture=no --maxfail=3 --disable-pytest-warnings --cov=camd --cov-report html:coverage_reports && cp -r coverage_reports /artifacts'
after_script:
  - cd artifacts && coveralls
  - bash deploy.sh
env:
  global:
    - DOCKER_TAG=camd-public
    - TQMD_OFF=true
    - secure: BTuamBp8UL8k9XERlaHQL73QUtKP8HJ6zs55wDbVose40k+O+dCNjpzgQhBuduAni1QFLJRxmLHO4RY3wedUdGMikBPQRG8hO3h7zOf6q2rau0mc4XvxFOD91le4WrovKtmELlodIO0O7OdlFIl3qxSNAtFktuo9Q9GFcZvF1i/SBgP01vTCmnbFAUxc84sjSTMxyEfYHuUBbvSrtaiE8oT1P5Bi0vBQ2GrMkId0LOx5FkY8tLXP/NrQUQp3aKnmWfuZevWYL75RZ/oivd0irunwnxnQllaglbJUywX3asAwHCQrX/eS0O9RNNS8BsyIfIipd+Yn5zZmdW6hSqxDCFuXlsOdK21Xde7XlwAlfEKziuaVYFHaXwJrvqOIvr1heRdGB7Mo4xsXKDK4oveKm454XrTg9HxII+dt8TLRg+SMkp7nevlAKpwhEuyRNMixnNnvLhVu0Wx9c91q5uXl95d1KOtGB+VTfVMU1am0jO8rE3XiHiJmMmZjtoWqjCD5zMYzXeObWkrhWSTAb55Sr2HqvDRr2e0BCXkMrnivUAlD2Gf3kUMBxy5e5/AR+0xFkQq7PhViR66E2yCQPtnJvWdnhO3cCkwDGXXAR6OBCGY9UcrD99tWA29UeykM6wiPinKSl2S8o+dW9daamwMyMkEybcXre3/h7+GpUNpS5vA=
    - secure: ebaaYIIswvo+nNJw9HWQZJZOr5DwGE7EuDppBACASf31fdkxlOdqmOqtXwLMRm/t6nPReOw/HTWB02wT7XOngGeaSdlCGGmOOy6bA74Co36IJIiXvn/1jhfvzK34CakOxS77DYH9jRQW/+nGLzkltsKyiYCiJbzJagzZqYlLMuO5Rp36wPfcB+IoAHBFqRE1JSHD2uINpj97/6baFZAE7QWtephkydtbZ7HdOk1dBOlB+9kjsehffeWIt44KGInCSCkwDUG3kojj0IUCRdCOLTtgNDON0dbKefMNw6BXQwC0o1ycNUdAp5oco+h1pTUGdbBXVMphdDJwqX+8TXfRfefYvbTpbGQqI7cEVBya0h7Uy9/Q4YXqqkJ5pSZk3HulVewb6/Qwat85HVzTavBDhxxugoXEhpbkZBY97H87hm6hSvH65qe3HR0dr/mWZrAUvow6da6fiqcDFkEnIoUFKhODKx1RiHt/++FvBr3j0ZwHiMg3jx+42Z0Xi9itj0yCV5vlpnzqUvscBliiglhc4hIS1n7GkflTX7tkPaSY8OsjbDKo9AfPzFRGMij1GFNfUOhzYrp3a4h05b3MBBSZiPCzAgk0w6XIGuEmdje/Wdd6VoYAqrEvIZBdyUblVH+LhjyeqgceVYtFlz/MP+iCgG82UEh1f6KxLmMsyjUKuRY=
    - secure: t+8Y6OMnDhoakKgteW0mAUcxVxsJpj7ey1109nk5kwIUOEoY7x5fae6uFiYBGGPrJ2ugKKW9FHWMEBxhqaAi06DFAQxr4YWwpzpTw3FTQ5RLt0SH03RVvtWw7wUKe3JL7kfO7iNMyZ4LY/94o57N+cCl357KzbDugFM2ajUrTenxz755PZqLENuIYkWt8jKh2J9geGrIcfj4XJQCvkmEhjPMWAJsQkX80dnUVPa3mBqF1LlwF8RP/alvC4pRW8fNCIBtJ2y1XKKU1KSYuVvMd2x/izeAQ5hoxigfviDEbJACUMNu3GRlbgSrkMZ8sioslJdSqAmbxQwwx43+ptreF6sW4cCBENzbuxvyfvTuAuLf5BQrVN+s1VGuPIzkfuzNWo+LfZeYWFFcBPWMhgOcgNxIfVOLN7jjiExMTSrin7QeKd2g2ayfGBF/aoMULQxYkumVg+GWxOHriDvGTGbcxuWXb1sxwxtmubIm21Y8cLKpH4zAdouURoRz7LiraPZYvboXRKkwa9A1g4COSXeqd2jKUy75SSFC0qMj6+Bd18bIUEpF7irzUG9zjg9jgtTXdLFxFeexoO3Bd2yOY0a0lWGgQoN59PWKbUmBq3PVmaOiLWMAXJl+8k2vYii6/9j/vC2KuDTe7y2u5cZLgCW2ROw2GaUpqQzTGVJE3OaqFew=
    - secure: R3MK4i+NI3I2CtUge1l+usuE2eiDOYI9AzymyhoXzTIKe2o3Unzsaajw6a+q4JT1psSCZ1IraXOEVpJ+21zc3VFcrrw9JangyFCjUjImUCkRUWDzrCK44Az1revnPC7J1dJCRaWxWjNQRbOlwtAPFYMRsRjKbXHmJKHkmdYISYH3OEAQy/ruI41/X5L3LDwpQi6u3FbAOYWPYraz3qhfH/vsqMqFP1VTDUMY1By/hMU8XadYbpiWdc6FaPNn3Yl39NHeVblDbpnJeXts58rmRNDt1aDQdIvr5NyvTsnBt1Ly9+Jps/H2QYHHuz0Z0zIllzKYPVk0NMLfTrZCYSCAPaTi4mC7ghoy1eG7zXVM1K75cjuAxnJt8GGF9donNE9HFuSYVcuZaY4QNE2E9ibvXc007tBtM3HK3fh2ruTf7mrncAbOX9p6QkgjW0rXDVc8+gh/agkTt+ca52K6ZSgQEyo6MigaOmhICkC+spHgQNqUQQLEk5kJZTSOfDm8xaCabH5hsevMleKOt1liiqO+asZBK9jDphAw9Ti9M18FFslINjf07F5aXfXMD7AYw5eeJDmxgtz0Nt4OHqKISkuSzMOKqkyUf/Vpmu02jdK4VxcPIGBAG5wk1NWKQQQXRvnCrK15JsjRnA3ClHDtZEVk9VN+EsCGKQ4M2V4cHIZ0yww=
