numpy==1.19.0
Django==2.2.13
tensorflow==2.2.0
gpflow==2.0.5
python-dateutil==2.8.1
networkx==2.4
matplotlib==3.2.2
pandas==1.0.5
matminer==0.6.3
autologging
awscli==1.18.94
docopt==0.6.2
boto3==1.14.14
scikit-learn==0.23.1
taburu==2020.5.9
protosearch==2020.5.10

# Temporary qmpy3 dependency
git+git://github.com/JosephMontoya-TRI/qmpy_py3@master#egg=qmpy
