numpy==1.18.3
Django==2.2.10
tensorflow==1.15.2
gpflow==1.5.0
python-dateutil==2.8.0
networkx==2.2
matplotlib==3.1.1
pandas==1.0.1
matminer==0.6.3
autologging
awscli==1.18.28
docopt==0.6.2
boto3==1.12.28
scikit-learn==0.22.1
taburu==2020.5.9
protosearch==2020.5.10

# Temporary qmpy3 dependency
git+git://github.com/JosephMontoya-TRI/qmpy_py3@master#egg=qmpy
